
.detail-box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    .career-box {
        .contents {
            padding: 2%;
            font-family: "Klee One", cursive;
            .content {
                margin-bottom: 2%;
            }
        }
    }
    .skills-box {
        .contents {
            display: flex;
            font-family: 'OrkneyRegular';
            .left-pane {
                width: 70%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 2rem;
                font-size: 15px;
                .label {
                    background-color: #80989b;
                    border-radius: 2rem;
                    font-weight: bold;
                    color: white;
                }
                :nth-child(3),:nth-child(4){
                    margin-top: 1rem;
                }
            }
            .right-pane {
                width: 30%;
                padding-top: 2rem;
                font-size: 15px;
                .label {
                    background-color: #80989b;
                    border-radius: 2rem;
                    font-weight: bold;
                    color: white;
                }
                .etc {
                    padding: .5rem;
                    height: 45.4%;
                    overflow: auto;
                    text-align: left;
                }
                .certificates {
                    padding: .5rem;
                    height: 40%;
                    overflow: auto;
                    text-align: left;
                }
            }
        }
    }
    .dli-chevron-down {
        display: block;
        color: #333;
        line-height: 1;
        width: .5em;
        height: .5em;
        border: 0.1em solid currentColor;
        border-left: 0;
        border-bottom: 0;
        box-sizing: border-box;
        transform: translateY(-25%) rotate(135deg);
        margin: 0 auto;
    }
}