
.container-main {
    height:calc(100vh - 20%);
    @media screen and (min-width:600px) {
        margin-top: 3%;
    }
    @media screen and (min-width:1025px) {
        margin-top: 1%;
    }
    background-color: #242424;
    .menubarGr {
        display: flex;
        justify-content: center;
        .change-viewing-type-button {
            width: auto;
            font-family: 'Alegreya Sans SC', sans-serif;
            font-size:22px;
            // @media screen and (min-width:600px) {
            //     margin-top: 3%;
            // }
            // @media screen and (min-width:1025px) {
            //     margin-top: 1%;
            // }
            margin-left: 50px;
            padding: 1px 10px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            border-radius: 0.2rem;
            cursor: pointer;
        }
        .menubar {
            @media screen and (min-width:600px) {
                width: 50vw;
            }
            @media screen and (min-width:1025px) {
                width: 30vw;
            }
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 1rem;
            .container-menubar {
                .buttonGr {
                    display: flex;
                    justify-content: space-around;
                    a {
                        cursor: pointer;
                        font-size:24px;
                        font-weight: bold;
                        font-family: 'Alegreya Sans SC', sans-serif;
                    }
                    a.auto{
                        pointer-events: none;
                    }
                    a:hover {
                        color: burlywood;
                    }
                    .checked {
                        color: burlywood;
                    }
                }
            }
        }
    }
    .viewport {
        height:calc(100vh - 30%);
        @media screen and (min-width:600px) {
            margin-top: 3%;
        }
        @media screen and (min-width:1025px) {
            margin-top: 1%;
        }
        background-color: #242424;
    }
}