.worksGritWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2rem;
    .wrapper-item {
        .title {
            margin: .5rem 0;
        }
        .box-img {
            position: relative;
            img {
                width: 500px;
                height: 350px;
                margin: .4rem;
                border-radius: .5rem;
                border: 2px solid #180614;
                cursor: pointer;
                opacity: 1;
                transition: all .3s;
            }
            img:hover {
                filter: contrast(30%);
            }
            .show-nav-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                color: white;
                font-size: 2rem;
                font-family: 'OrkneyRegular';
                opacity: 0;
                transition: all .3s;
                cursor: pointer;
                pointer-events: none;
            }
        }
        .box-img:hover .show-nav-text {
            opacity: .5;
        }
    }
    .box-description {
        width: 100%;
        height: 20%;
    }
}



